
.form-container {
  background: #fff;
  padding: 40px; 
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  max-width: 500px;
}

.form-container input,
.form-container select,
.form-container button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-container button {
  background: #6f42c1;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  transition: background 0.3s ease;
}

.form-container button:hover {
  background: #5936a6;
}
.form-container select option[disabled] {
  color: gray;
  font-style: italic;
}